<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="view.css">
    <title>View book</title>
</head>
<body>
    <section class="book-view">
        <div class="book-banner">
            <div class="book-image">
                <img src="../image/design.png" alt="" class="bookImage">
            </div>
            <div class="image-container">
                <h2 id="book-name" ></h2>
                <p id="book-des">bookdesc bookdescbookdesc bookdesc bookdesc vbookdesc </p>
                <div class="image-desc">
                    <p class="author">author: <span id="author"></span> </p>
                    <p class="author">createdAt: <span>0/1/2026</span> </p>
                </div>
            </div>
        </div>

        <div>

        </div>
    </section>
    
    <script src="./view.js" type="module"></script>
</body>
</html>